#container{
	border:1px solid #000;
	width:788px;
	background-color:#FF0;
	position:absolute;
    left:15%;
    top:15%;
	text-align:center;
	font-size:20px;
	
	
	}
#ders1,#ders2,#ders3{
	border:1px solid #000;
	width:250px;
	height:300px;
	float:left;
	margin:5px;
	padding-top:10px;
	color:#F00;
	font-weight:bold;
	background-color:#F90;
}
#temizle{
	clear:both;
}
